<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Ae</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/shopping-cart">ShoppingCart</a>
    </li>
    <li *ngIf="!cookieValue" class="nav-item">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li *ngIf="!cookieValue" class="nav-item">
      <a class="nav-link" routerLink="/register">Register</a>
    </li>
    <li *ngIf="cookieValue" ngbDropdown class="nav-item dropdown">
      <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        {{ decodedToken.name }}
      </a>
      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/orders">My Orders</a>
        <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
        <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
        <a class="dropdown-item" (click)="logout()">Log Out</a>
      </div>
    </li>
  </ul>
</nav>
